#main {
  padding: 10px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#title {
  font-family: Verdana, sans-serif;
}

#img-div {
  margin: 10px 25vw;
  overflow: hidden;
}

.img-container {
  overflow: hidden;
}

.img-container img {
  transition: transform 0.5s ease;
}

#image {
  max-width: 100%;
  display: block;
}

.img-container:hover img {
  transform: scale(1.1);
}

#tribute-info {
  padding: 10px 25vw;
}

#tribute-info ul li p {
  text-align: left;
}

.tribute-link {
  padding: 30px;
}

